requests~=2.18
beautifulsoup4~=4.6
python-telegram-bot~=10.1
SQLAlchemy~=1.2
sqlalchemy-utils~=0.33
dateparser~=0.7.0

# Linting
flake8
flake8-docstrings
flake8-print
flake8-commas
flake8-bugbear
flake8-string-format
